In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import matplotlib.pyplot as plt

# 데이터 불러오기
df = pd.read_csv("C:\\Users\\axhtl\\OneDrive\\바탕 화면\\학교\\인공지능개론\\AAME.csv")
df

             Date  Open  High   Low  Close  Adj Close  Volume
0      1980-03-17  0.00  4.05  3.85   3.85   3.213167   15000
1      1980-03-18  0.00  4.00  3.80   3.80   3.171437   10200
2      1980-03-19  0.00  4.05  3.85   3.85   3.213167   33500
3      1980-03-20  0.00  4.00  3.80   3.80   3.171437    8700
4      1980-03-21  0.00  3.95  3.75   3.75   3.129709   12700
...           ...   ...   ...   ...    ...        ...     ...
10093  2020-03-26  2.29  2.29  2.08   2.28   2.280000    1600
10094  2020-03-27  2.25  2.25  2.21   2.25   2.250000     500
10095  2020-03-30  2.25  2.25  2.13   2.13   2.130000     400
10096  2020-03-31  2.11  2.11  2.11   2.11   2.110000     300
10097  2020-04-01  2.11  2.15  2.11   2.15   2.150000     600

[10098 rows x 7 columns]